* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
}

header {
    height: 100vh;
    background: url('./hero.jpg') center ;
    display: flex;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    height: 70px;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.598);
}

.logo a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 5px;
}

.navigationlinks {
    list-style: none;
    display: flex;
    gap: 35px;
}

.navigationlinks a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.navigationlinks a:hover {
    color: #ff6f61;
}

.loginbutton{
    padding: 8px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
    background: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    cursor: pointer;
}

.loginbutton:hover {
    background: #ffffff;
}

.tutdropdown {
    position: relative; 
}

.tutorialdropdownitems {
    display: none; 
    position: fixed;
    background-color: #000000cc; 
    backdrop-filter: blur(5px);
    border-radius: 5px;
    min-width: 180px;
    box-shadow: 0 4px 8px #00000033; 
    padding-top: 10px;
}

.tutorialdropdownitems li {
    list-style: none;
}

.tutorialdropdownitems li a {
    color: #e0e0e0; 
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.tutorialdropdownitems li a:hover {
    background-color: rgba(255, 111, 97, 0.2);
    color: #ff6f61; 
}

.tutdropdown:hover .tutorialdropdownitems {
    display: block;
}


.hero {
    text-align: center;
    margin: auto;
    padding: 0 20px;
    max-width: 800px;
}

.hero h1 {
    font-size: 85px;
    margin-bottom: 30px;
    color: #ffffff;
    text-shadow: 2px 5px 5px black
}

.hero p {
    font-size:22px;
    margin-bottom: 30px;
    color: #e4d5d5;
    text-shadow: 1px 1px 5px #000000cc;
}

.herobuttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn1 {
    padding: 10px 20px;
    background-color: #ff6f61;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.btn1:hover {
    background-color: #ff4736;
}

.btn2 {
    padding: 10px 20px;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn2:hover {
    background-color: #ffffff;
    color: #121212;
}

.features {
    padding: 60px 20px;
    background-color: #100f0f; 
    color: #ffffff;
    text-align: center;
}

.heading {
    font-size: 40px;
    margin-bottom: 40px;
    color: #ff6f61; 
    text-shadow: 2px 2px 5px #000000cc;
}

.featurescontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

@media (max-width: 768px) {
    .featurescontainer {
      grid-template-columns: 1fr 1fr; 
    }
  }
  
@media (max-width: 480px) {
    .featurescontainer {
      grid-template-columns: 1fr; 
    }
  }
  

.feature {
    background: #ffffff1a; 
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 15px #00000033;
}

.feature:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 25px #0000004d;
}

.featureicon {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.feature h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ff6f61;
}

.feature p {
    font-size: 1rem;
    color: #cccccc;
    line-height: 23px;
}

.tutorials {
    padding: 40px 30px;
    background-color: #121212; 
    color: #ffffff;
}

.tutotialtitle {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #ff6f61;
}

.tutorialitem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 20px;
}


.tutorialreverse {
    flex-direction: row-reverse;
}

.tutorialimage {
    max-width: 45%;
    border-radius: 10px;
    box-shadow: 0 5px 15px #00000066;
    transition: transform 0.3s ease;
}

.tutorialimage:hover {
    transform: scale(1.05); 
}

.tutorialcontent {
    max-width: 50%;
    text-align: left;
}

.tutorialcontent h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #ff6f61;
}

.tutorialcontent p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #cccccc;
    letter-spacing: 3px;
    line-height: 20px;
}

.btntutorial {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6f61;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btntutorial:hover {
    background-color: #ff4736;
}

@media (max-width: 768px) {
    .tutorialitem {
        flex-direction: column;
        text-align: center;
    }

    .tutorialimage {
        max-width: 100%;
    }

    .tutorialcontent {
        max-width: 100%;
    }
}