* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
}

header {
    height: 100vh;
    background: url('./hero.jpg') center ;
    display: flex;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    height: 70px;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.598);
}